SEC_KEY # Секретный ключ приложения
NAME # Название приложения
USER # Имя пользователя для базы данных
PASSWORD # Пароль для базы данных
HOST # Хост базы данных (например, localhost)
PORT # Порт базы данных (например, 5432)

EMAIL_HOST # SMTP сервер для отправки почты
EMAIL_PORT # Порт SMTP (обычно 587 или 465)
EMAIL_HOST_USER # Email, с которого отправляются письма
EMAIL_HOST_PASSWORD # Пароль от email
EMAIL_USE_TLS # Использовать TLS (True или False)
EMAIL_USE_SSL # Использовать SSL (True или False)